---
import { getEntry } from "astro:content";

const homePage = await getEntry("pages", "home");
const { Content } = await homePage.render();
---

<section id="about" class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
  <div class="max-w-5xl mx-auto space-y-8">
    <h3 class="text-4xl md:text-5xl font-medium mb-8">About</h3>
    <div class="text-[var(--white-icon)] text-lg space-y-4">
       <Content />
    </div>
  </div>
</section>
